<body>
<div class="side">
  <app-sidenav></app-sidenav>
    <div class="container">


      <div class="head">
        <app-wc-header [name]="'Ali'"></app-wc-header>
      </div>

      <div class="add">
        <button (click)="openDialog()">Add Offer</button>
      </div>

      <div class="wrapper">
<!--        <mat-spinner *ngIf="!loaded"></mat-spinner>-->

        <div *ngIf='loaded' class="offers-grid">
          <app-offer-card *ngFor="let offer of offers" [offer]="offer"></app-offer-card>
        </div>

      </div>


    </div>
  </div>
</body>
