form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

input {
  background-color: #FAFAFA;
  border: none;
  border-radius: 8px;

  padding: 13px 20px;

  outline: none;
  width: 250px;


}

input {
  margin-top: 20px;
}

.actions {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.submit-btn {
  background-color: #00CEC9;
  color: white;
  border: none;
  outline: none;

  padding: 6px 12px;

  width: 245px;


  border-radius: 5px;

  margin-top: 20px;
}

.close-btn {
  background-color: #D63031;
  color: white;
  border: none;
  outline: none;
  padding: 6px 12px;
  width: 245px;
  border-radius: 5px;
  margin-top: 20px;
}
