
  <form #offerForm='ngForm'>
  <h2>Create New Offer</h2>
    <div class="textField"><input type="text" placeholder="Title" name="title" [(ngModel)]="title"></div>
    <div class="textField"><input type="text" placeholder="Description" name="description" [(ngModel)]="description"></div>
    <div class="textField"><input type="date" placeholder="Start Date" name="startDate" [(ngModel)]="startDate"></div>
    <div class="textField"><input type="text" placeholder="validity period" name="validityPeriod" [(ngModel)]="validityPeriod"></div>

    <div class="actions">
      <button class="submit-btn" type="submit" (click)="onSubmit()">Submit</button>
      <button class="close-btn">Close</button>
    </div>
  </form>

