<div class="wrapper">

  <div class="charts">
    <div class="gen-charts">
      <app-chart-card *ngFor="let chart of charts" [num]="chart.num" [status]="chart.status" [title]="chart.title"
                      [type]="chart.type" [unit]="chart.unit"></app-chart-card>

    </div>

    <div class="reg-charts">
      <app-chart-card *ngFor="let pieChart of pie_charts" [percentage]="pieChart.percentage" [title]="pieChart.title"
                      [type]="pieChart.type"></app-chart-card>
    </div>

    <div class="reg-charts">
      <app-chart-card *ngFor="let pieChart of pie_charts2" [percentage]="pieChart.percentage" [title]="pieChart.title"
                      [type]="pieChart.type"></app-chart-card>
    </div>
  </div>

  <!--  <div class="redeem">-->
  <!--    <div class="txtField">-->
  <!--      <span>Redeem Offer</span>-->
  <!--      <input placeholder="e.g. ####-####-####" type="text">-->
  <!--    </div>-->

  <!--  </div>-->
</div>




