<div class="main">

  <div class="header">
    <h3>$34750.00</h3>
    <!--    <p><span class="fas fa-arrow-up rate"> +4.2% </span> for last quarter</p>-->
  </div>

  <div class="content">
    <div class="loader first">Jan<span>95%</span></div>
    <div class="loader second">Feb<span>40%</span></div>
    <div class="loader third">Mar<span>62%</span></div>
  </div>

  <div class="footer">
    <p><span class="fas fa-arrow-up rate"> +4.2% </span> for last quarter</p>
    <!--      <span>0'''''''</span>-->
    <!--      <span>20'''''''</span>-->
    <!--      <span>40'''''''</span>-->
    <!--      <span>60'''''''</span>-->
    <!--      <span>80'''''''</span>-->
    <!--      <span>100</span>-->
  </div>
</div>
