body {

  //background-color:#F5F5F5;
  font-family: 'Poppins', sans-serif;
  height: 100%;


}

.container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  //padding: 50px 5% 30px 5%;

  padding: 50px 10px 0 50px;

}

.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  height: 100%;
  width: calc(100vw - 480px);
}

.center {
  align-items: center;
}

.side {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.head {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.add button {
  padding: 6px 12px;
  width: 90px;
  height: 36px;
  color: white;
  border: none;
  background: #00CEC9;
  border-radius: 4px;

}

.offers-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto;

  column-gap: 50px;
  row-gap: 50px;
}


.spinner {
  display: flex;
  justify-content: center;
  align-items: center;

}

@media screen and (max-width: 1200px) {
  .offers-grid {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 50px;
  }

  app-sidenav {
    display: none;
  }

  .wrapper {
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
