<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <div class="flex justify-center bg-gray-100 py-10 p-14">
    <!---== First Stats Container ====--->
    <div class="container mx-auto pr-4">
      <div
        class="w-72 bg-white max-w-xs mx-auto rounded-sm overflow-hidden shadow-lg hover:shadow-2xl transition duration-500 transform hover:scale-100 cursor-pointer">
        <div class="h-20 bg-red-400 flex items-center justify-between">
          <p class="mr-0 text-white text-lg pl-5">BT SUBSCRIBERS</p>
        </div>
        <div class="flex justify-between px-5 pt-6 mb-2 text-sm text-gray-600">
          <p>TOTAL</p>
        </div>
        <p class="py-4 text-3xl ml-5">20,456</p>
        <!-- <hr > -->
      </div>
    </div>
    <!---== First Stats Container ====--->

    <!---== Second Stats Container ====--->
    <div class="container mx-auto pr-4">
      <div
        class="w-72 bg-white max-w-xs mx-auto rounded-sm overflow-hidden shadow-lg hover:shadow-2xl transition duration-500 transform hover:scale-100 cursor-pointer">
        <div class="h-20 bg-blue-500 flex items-center justify-between">
          <p class="mr-0 text-white text-lg pl-5">BT ACTIVE SUBSCRIBERS</p>
        </div>
        <div class="flex justify-between px-5 pt-6 mb-2 text-sm text-gray-600">
          <p>TOTAL</p>
        </div>
        <p class="py-4 text-3xl ml-5">19,694</p>
        <!-- <hr > -->
      </div>
    </div>
    <!---== Second Stats Container ====--->

    <!---== Third Stats Container ====--->
    <div class="container mx-auto pr-4">
      <div
        class="w-72 bg-white max-w-xs mx-auto rounded-sm overflow-hidden shadow-lg hover:shadow-2xl transition duration-500 transform hover:scale-100 cursor-pointer">
        <div class="h-20 bg-purple-400 flex items-center justify-between">
          <p class="mr-0 text-white text-lg pl-5">BT OPT OUTS</p>
        </div>
        <div class="flex justify-between pt-6 px-5 mb-2 text-sm text-gray-600">
          <p>TOTAL</p>
        </div>
        <p class="py-4 text-3xl ml-5">711</p>
        <!-- <hr > -->
      </div>
    </div>
    <!---== Third Stats Container ====--->

    <!---== Fourth Stats Container ====--->
    <div class="container mx-auto">
      <div
        class="w-72 bg-white max-w-xs mx-auto rounded-sm overflow-hidden shadow-lg hover:shadow-2xl transition duration-500 transform hover:scale-100 cursor-pointer">
        <div class="h-20 bg-purple-900 flex items-center justify-between">
          <p class="mr-0 text-white text-lg pl-5">BT TODAY'S SUBSCRIPTION</p>
        </div>
        <div class="flex justify-between pt-6 px-5 mb-2 text-sm text-gray-600">
          <p>TOTAL</p>
        </div>
        <p class="py-4 text-3xl ml-5">0</p>
        <!-- <hr > -->
      </div>
    </div>
    <!---== Fourth Stats Container ====--->
  </div>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards| async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-doughnut-chart *ngIf="card.id ==3"></app-doughnut-chart>
          <app-tailwind-chart-pie *ngIf="card.id == 2"></app-tailwind-chart-pie>
          <ng-container *ngIf="card.id ==4">
            <app-chart-pie [color]="'blue'" [percentage]="50"></app-chart-pie>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
