<body>
<div class="side">
  <app-sidenav></app-sidenav>
  <div class="container">
    <div class="head">
      <app-wc-header [name]="'Ali'"></app-wc-header>
    </div>

    <div class="wrapper">
      <div class="charts">
        <div class="gen-charts">
          <app-chart-card [num]="'1,500'" [title]="'Total Offers'" [unit]="'offer'" [status]="'high'"></app-chart-card>
          <app-chart-card [num]="'1,500'" [title]="'Total Offers'" [unit]="'offer'" [status]="'high'"></app-chart-card>
          <app-chart-card [num]="'1,500'" [title]="'Total Offers'" [unit]="'offer'" [status]="'high'"></app-chart-card>
        </div>
        <div class="reg-charts">

          <app-chart-card type="pie" [title]="'Sales'" [percentage]="60"></app-chart-card>
          <app-chart-card type="pie" [title]="'Customers'" [percentage]="50"></app-chart-card>
        </div>

        <div class="reg-charts">

          <app-chart-card type="pie" [title]="'Weekly growth'" [percentage]="75"></app-chart-card>
          <app-chart-card type="pie" [title]="'Redeemed Offers in this week'" [percentage]="60"></app-chart-card>
        </div>
      </div>

      <div class="redeem">

        <div class="txtField">
          <span>Redeem Offer</span>
          <input type="text">

        </div>

      </div>
    </div>
  </div>


</div>
</body>
