<body>
<div class="side">

  <app-sidenav></app-sidenav>

  <div class="container">

    <div class="head">
      <app-wc-header [name]="'Ali'"></app-wc-header>
    </div>

    <div class="wrapper">
      <div class="charts">
        <div class="gen-charts" >
          <app-chart-card *ngFor="let chart of charts" [num]="chart.num" [title]="chart.title" [unit]="chart.unit" [status]="chart.status"></app-chart-card>

        </div>

        <div class="reg-charts">
          <app-chart-card *ngFor="let pieChart of pie_charts" [type]="pieChart.type" [title]="pieChart.title" [percentage]="pieChart.percentage"></app-chart-card>
        </div>

        <div class="reg-charts">
          <app-chart-card *ngFor="let pieChart of pie_charts2" [type]="pieChart.type" [title]="pieChart.title" [percentage]="pieChart.percentage"></app-chart-card>
        </div>
      </div>

      <div class="redeem">

        <div class="txtField">
          <span>Redeem Offer</span>
          <input type="text">

        </div>

      </div>
    </div>
  </div>


</div>
</body>
