<!--<div class="container">-->

<!--  <img src="{{offer.image}}">-->

<!--  <div class="row">-->

<!--    <div class="info">-->
<!--      <h3>{{offer.title}}</h3>-->
<!--      <p>{{offer.description}}</p>-->
<!--    </div>-->

<!--    <div class="action">-->
<!--      <button (click)="deleteOffer(offer.id)" class="delete">Delete</button>-->
<!--      <button (click)="onEdit(offer)" class="edit">Edit</button>-->
<!--      <button (click)="generateCode()" class="code">Generate Code</button>-->
<!--    </div>-->

<!--  </div>-->

<!--  <div class="code">{{code}}</div>-->
<!--</div>-->


<mat-card class="card">

  <img mat-card-image src="{{offer.image}}">
  <mat-card-content>
    <mat-card-title>{{offer.title}}</mat-card-title>
    <mat-card-subtitle>Starts at {{offer.startDate}}</mat-card-subtitle>
    <p>
      {{offer.description}}
    </p>
  </mat-card-content>
  <mat-card-actions class="action">
    <button (click)="deleteOffer(offer.id)" class="delete">Delete</button>
    <button (click)="onEdit(offer)" class="edit">Edit</button>
    <!--    <button (click)="generateCode()" class="code">Generate Code</button>-->
  </mat-card-actions>

</mat-card>
